.imageWrapper {
	opacity: 0;
	height: 0;
	width: 0;
	transition: opacity 1s ease-in-out;
	position: relative;
	&.loaded {
		opacity: 1;
		height: 100%;
		width: 100%;
	}
	// &.preview img{
	// 	aspect-ratio: 1/1;
	// }
}
//avatar
